body {
    margin: 0;
    padding: 0;
    font-family:
        Lexend Deca,
        sans-serif;
    min-height: 200vh;
}

.background-image {
    background-image: url("/assets//images/main-image.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 49vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.content-container {
    margin-left: 100px;
    margin-bottom: 50px;
    color: rgb(252, 250, 238);
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
    font-weight: 300;
}

.explore-button {
    padding: 8px 26px;
    border-radius: 40px;
    overflow: hidden;
    min-width: 140px;
    text-align: center;
    border-color: rgb(255, 255, 255);
    border: 2px solid;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-family:
        Lexend Deca,
        sans-serif;
    transition: background-color 0.2s linear;
    margin-top: 15px;
}

.explore-button:hover {
    background-color: white;
    color: black;
    border-color: transparent;
    cursor: pointer;
}

.subtitle {
    font-size: 1rem;
    line-height: 1.625rem;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.header-container {
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.203);
    transition: background-color 0.9s ease;
}

.header-container:hover {
    background-color: white;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo-link img {
    width: 65px;
    margin-top: 5px;
}

.search-button,
.menu-button,
.cart-button,
.login-button,
.store-locator-button {
    background: none;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.search-button {
    gap: 4px;
    margin-left: 50px;
}

.search-button img,
.menu-button img,
.cart-button img,
.login-button img,
.store-locator-button img {
    width: 32px;
    height: 32px;
}

.search-button span,
.menu-button span {
    color: #fff;
    font-size: 12px;
}

.search-button:hover,
.menu-button:hover,
.cart-button:hover,
.login-button:hover,
.store-locator-button:hover {
    opacity: 0.8;
}

.header-container:hover .search-button img,
.header-container:hover .menu-button img,
.header-container:hover .cart-button img,
.header-container:hover .login-button img,
.header-container:hover .store-locator-button img,
.header-container:hover .logo-link img {
    filter: brightness(0);
}

.header-container:hover .search-button span,
.header-container:hover .menu-button span {
    color: black;
}

.icon-wrapper {
    position: relative;
    display: inline-flex;
}

.icon-wrapper .tooltip {
    position: absolute;
    top: 100%;
    margin-top: -1px;

    left: 50%;
    transform: translateX(-50%);

    color: black;
    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.login-button:hover .tooltip,
.store-locator-button:hover .tooltip {
    opacity: 1;
}

.middle-section {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section {
    width: 160px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
}

.b3 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.slider {
    max-width: 100%;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.slide {
    outline: none;
    width: 300px;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.5px;
    font-weight: 400;
}

.middle-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    margin-top: 30px;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 550px;
}

.slider {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease;
    margin-top: 60px;
}

.slide {
    width: 250px;
    height: 380px;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    padding: 10px;
    text-align: left;
}

.slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.slide img:hover {
    transform: scale(1.05);
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: #191817;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 2px;
}

.product-name {
    display: block;
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #191817;
}

.product-price {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    font-size: 1rem;
    color: #191817;
}

.slider-btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.695);
    border: none;
    color: white;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.slider-btn.left {
    left: 10px;
    opacity: 0.8;
    background-image: url("/assets//images/icons/chevron-white-left-black-bg.svg");
}

.slider-btn.right {
    right: 10px;
    opacity: 0.8;
    background-image: url("/assets//images/icons/chevron-white-right-black-bg.svg");
}

.subscribe-section {
    background: #111;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.subscribe-wrapper {
    display: flex;
    width: 80%;
    max-width: 1600px;
}

.subscribe-image,
.subscribe-content {
    width: 50%;
}

.subscribe-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.subscribe-content {
    background: white;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(85, 82, 82);
}

.subscribe-title {
    margin-bottom: 50px;
    font-size: 24px;
    color: black;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.form-group label span {
    font-weight: 400;
    font-size: 12px;
    color: #555;
}

.form-group input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 14px;
    outline: none;
    width: 100%;
}

.form-group input:focus {
    border-bottom-color: #000;
}

.form-row {
    display: flex;
    margin-top: -15px;
    gap: 10px;
}

.form-row .form-group {
    flex: 1;
}

.subscribe-button {
    padding: 10px 26px;
    border-radius: 40px;
    width: 140px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family:
        Lexend Deca,
        sans-serif;
    transition: background-color 0.2s linear;
    margin-top: 40px;
}

.subscribe-button:hover {
    background: transparent;
    color: black;
    cursor: pointer;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.features-list li .mark {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.form-group.floating {
    position: relative;
    padding-top: 20px;
}

.form-group.floating input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 14px;
    outline: none;
    background: transparent;
    width: 100%;
}

.form-group.floating label {
    position: absolute;
    left: 0;
    top: 18px;
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: 0.2s ease;
}

.form-group.floating input:focus + label,
.form-group.floating input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #000;
}

.form-group.floating input:focus {
    border-bottom-color: #000;
}

.footer {
    background-color: #111;
    color: #ccc;
    font-family: "Lexend Deca", sans-serif;
    padding: 0px 20px 20px;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer a:hover {
    color: #fff;
}

.footer-brand h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 220px;
}

.footer-brand p {
    font-size: 12px;
    line-height: 0.5;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}

.footer-brand {
    text-align: center;
    flex: 0 0 auto;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-column {
    text-align: left;
    flex: 0 0 150px;
}

.footer-column h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 12px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    border-top: 1px solid #222;
    font-size: 13px;
    color: #555;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10000;

    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.close-text {
    color: #191817;
    font-weight: 500;
    font-size: 0.75rem;
    margin-top: 3px;
}

body.no-scroll {
    overflow: hidden;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin-left: 22px;
}

.sidebar-links li {
    margin-bottom: 12px;
}

.sidebar-links li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-links li a:hover {
    text-decoration: underline;
}

.down-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
}

.down-section span {
    font-size: 12px;
}

.down-section .sidebar-link-item {
    margin-left: 20px;
}

.sidebar-link-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

.sidebar-link-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.black-search-icon img {
    filter: invert(1);
}

.sidebar-link-item:hover span {
    text-decoration: underline;
}
